VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_FACTORY_CONTRACT=CDJKY6Q5ZZDOTENXZTA7YBJGDSKGMIDCJG4ZSTBSNUX3F5EBWJ57C2KO
VITE_VAULT_WASM_HASH=c7634a97b809c02d5fddb61da2745890891d63e89b9d16b8f527e8c91686c5af
VITE_NATIVE_TOKEN=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
